<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumper.angel.hospital.hospital.mapper.HospitalRelatedMapper">
  <resultMap id="BaseResultMap" type="com.jumper.angel.hospital.hospital.entity.HospitalRelated">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hospital_id, object_id, type, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_related
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital_related
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jumper.angel.hospital.hospital.entity.HospitalRelated">
    insert into hospital_related (id, hospital_id, object_id, 
      type, add_time)
    values (#{id,jdbcType=INTEGER}, #{hospitalId,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jumper.angel.hospital.hospital.entity.HospitalRelated">
    insert into hospital_related
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">        id,      </if>
      <if test="hospitalId != null">hospital_id,      </if>
      <if test="objectId != null">  object_id,      </if>
      <if test="type != null">      type,      </if>
      <if test="addTime != null">   add_time,      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">        #{id,jdbcType=INTEGER},      </if>
      <if test="hospitalId != null">#{hospitalId,jdbcType=INTEGER},      </if>
      <if test="objectId != null">  #{objectId,jdbcType=INTEGER},      </if>
      <if test="type != null">      #{type,jdbcType=INTEGER},      </if>
      <if test="addTime != null">   #{addTime,jdbcType=TIMESTAMP},      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jumper.angel.hospital.hospital.entity.HospitalRelated">
    update hospital_related
    <set>
      <if test="hospitalId != null">  hospital_id = #{hospitalId,jdbcType=INTEGER},      </if>
      <if test="objectId != null">    object_id = #{objectId,jdbcType=INTEGER},      </if>
      <if test="type != null">        type = #{type,jdbcType=INTEGER},      </if>
      <if test="addTime != null">     add_time = #{addTime,jdbcType=TIMESTAMP},      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jumper.angel.hospital.hospital.entity.HospitalRelated">
    update hospital_related
    set hospital_id = #{hospitalId,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByHospId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hospital_related
		where hospital_id = #{id,jdbcType=INTEGER}
	</select>
</mapper>