<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumper.angel.hospital.doctor.mapper.DoctorCommentsInfoMapper">
  <resultMap id="BaseResultMap" type="com.jumper.angel.hospital.doctor.entity.DoctorCommentsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="satisfaction" jdbcType="INTEGER" property="satisfaction" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="constant_id" jdbcType="INTEGER" property="constantId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, doctor_id, user_id, content, satisfaction, MAX(add_time), constant_id, `type`, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_doctor_comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByConsultantId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_doctor_comments
    where constant_id = #{consultantId,jdbcType=INTEGER}
  </select>
  <!-- 通过constantID查询对象 -->
  <select id="selectByConstantId"  resultMap="BaseResultMap">
    select     <include refid="Base_Column_List" />
    from `hospital_doctor_comments`
    where constant_id = #{constantId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital_doctor_comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jumper.angel.hospital.doctor.entity.DoctorCommentsInfo">
    insert into hospital_doctor_comments (id, doctor_id, user_id, 
      content, satisfaction, add_time, 
      constant_id, type, status
      )
    values (#{id,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{satisfaction,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{constantId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jumper.angel.hospital.doctor.entity.DoctorCommentsInfo">
    insert into hospital_doctor_comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">        id,      </if>
      <if test="doctorId != null">        doctor_id,      </if>
      <if test="userId != null">        user_id,      </if>
      <if test="content != null">        content,      </if>
      <if test="satisfaction != null">        satisfaction,      </if>
      <if test="addTime != null">        add_time,      </if>
      <if test="constantId != null">        constant_id,      </if>
      <if test="type != null">        type,      </if>
      <if test="status != null">        status,      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">        #{id,jdbcType=INTEGER},      </if>
      <if test="doctorId != null">        #{doctorId,jdbcType=INTEGER},      </if>
      <if test="userId != null">        #{userId,jdbcType=INTEGER},      </if>
      <if test="content != null">        #{content,jdbcType=VARCHAR},      </if>
      <if test="satisfaction != null">        #{satisfaction,jdbcType=INTEGER},      </if>
      <if test="addTime != null">        #{addTime,jdbcType=TIMESTAMP},      </if>
      <if test="constantId != null">        #{constantId,jdbcType=INTEGER},      </if>
      <if test="type != null">        #{type,jdbcType=INTEGER},      </if>
      <if test="status != null">        #{status,jdbcType=INTEGER},      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jumper.angel.hospital.doctor.entity.DoctorCommentsInfo">
    update hospital_doctor_comments
    <set>
      <if test="doctorId != null">        doctor_id = #{doctorId,jdbcType=INTEGER},      </if>
      <if test="userId != null">        user_id = #{userId,jdbcType=INTEGER},      </if>
      <if test="content != null">        content = #{content,jdbcType=VARCHAR},      </if>
      <if test="satisfaction != null">        satisfaction = #{satisfaction,jdbcType=INTEGER},      </if>
      <if test="addTime != null">        add_time = #{addTime,jdbcType=TIMESTAMP},      </if>
      <if test="constantId != null">        constant_id = #{constantId,jdbcType=INTEGER},      </if>
      <if test="type != null">        type = #{type,jdbcType=INTEGER},      </if>
      <if test="status != null">        status = #{status,jdbcType=INTEGER},      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jumper.angel.hospital.doctor.entity.DoctorCommentsInfo">
    update hospital_doctor_comments
    set doctor_id = #{doctorId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      satisfaction = #{satisfaction,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      constant_id = #{constantId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="findAll" resultMap="BaseResultMap">
    select id,doctor_id,user_id,content,satisfaction,add_time,constant_id,type,status
    from hospital_doctor_comments
  </select>
  
  
  
</mapper>