<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jumper.angel.hospital.doctor.mapper.HospitalDoctorInfoMapper">
  <resultMap id="BaseResultMap" type="com.jumper.angel.hospital.doctor.entity.HospitalDoctorInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="fans_number" jdbcType="INTEGER" property="fansNumber" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="expert" jdbcType="VARCHAR" property="expert" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="qr_code_url" jdbcType="VARCHAR" property="qrCodeUrl" />
    <result column="certification_url" jdbcType="VARCHAR" property="certificationUrl" />
    <result column="physician_pratice_license_url" jdbcType="VARCHAR" property="physicianPraticeLicenseUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="major_phone" jdbcType="VARCHAR" property="majorPhone" />
    <result column="achievement" jdbcType="VARCHAR" property="achievement" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="apply_times" jdbcType="INTEGER" property="applyTimes" />
    <result column="pass_time" jdbcType="TIMESTAMP" property="passTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hospital_id, name, introduction, img_url, add_time, fans_number, type, password, 
    expert, title_id, phone, major_id, doctor_id, qr_code_url, certification_url, physician_pratice_license_url, 
    status, title, major_phone, achievement, education, apply_date, apply_times, pass_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_doctor_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByHospitalId" parameterType="java.lang.Integer" resultType="int">
    select 
    <!-- <include refid="Base_Column_List" /> -->
    count(id)
    from hospital_doctor_info
    where hospital_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital_doctor_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jumper.angel.hospital.doctor.entity.HospitalDoctorInfo">
    insert into hospital_doctor_info (id, hospital_id, name, 
      introduction, img_url, add_time, 
      fans_number, type, password, 
      expert, title_id, phone, 
      major_id, doctor_id, qr_code_url, 
      certification_url, physician_pratice_license_url, 
      status, title, major_phone, 
      achievement, education, apply_date, 
      apply_times, pass_time)
    values (#{id,jdbcType=INTEGER}, #{hospitalId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{introduction,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{fansNumber,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{expert,jdbcType=VARCHAR}, #{titleId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, 
      #{majorId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{qrCodeUrl,jdbcType=VARCHAR}, 
      #{certificationUrl,jdbcType=VARCHAR}, #{physicianPraticeLicenseUrl,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{majorPhone,jdbcType=VARCHAR}, 
      #{achievement,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{applyTimes,jdbcType=INTEGER}, #{passTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jumper.angel.hospital.doctor.entity.HospitalDoctorInfo">
    insert into hospital_doctor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">        id,      </if>
      <if test="hospitalId != null">        hospital_id,      </if>
      <if test="name != null">        name,      </if>
      <if test="introduction != null">        introduction,      </if>
      <if test="imgUrl != null">        img_url,      </if>
      <if test="addTime != null">        add_time,      </if>
      <if test="fansNumber != null">        fans_number,      </if>
      <if test="type != null">        type,      </if>
      <if test="password != null">        password,      </if>
      <if test="expert != null">        expert,      </if>
      <if test="titleId != null">        title_id,      </if>
      <if test="phone != null">        phone,      </if>
      <if test="majorId != null">        major_id,      </if>
      <if test="doctorId != null">        doctor_id,      </if>
      <if test="qrCodeUrl != null">        qr_code_url,      </if>
      <if test="certificationUrl != null">        certification_url,      </if>
      <if test="physicianPraticeLicenseUrl != null">        physician_pratice_license_url,      </if>
      <if test="status != null">        status,      </if>
      <if test="title != null">        title,      </if>
      <if test="majorPhone != null">        major_phone,      </if>
      <if test="achievement != null">        achievement,      </if>
      <if test="education != null">        education,      </if>
      <if test="applyDate != null">        apply_date,      </if>
      <if test="applyTimes != null">        apply_times,      </if>
      <if test="passTime != null">        pass_time,      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">        #{id,jdbcType=INTEGER},      </if>
      <if test="hospitalId != null">        #{hospitalId,jdbcType=INTEGER},      </if>
      <if test="name != null">        #{name,jdbcType=VARCHAR},      </if>
      <if test="introduction != null">        #{introduction,jdbcType=VARCHAR},      </if>
      <if test="imgUrl != null">        #{imgUrl,jdbcType=VARCHAR},      </if>
      <if test="addTime != null">        #{addTime,jdbcType=TIMESTAMP},      </if>
      <if test="fansNumber != null">        #{fansNumber,jdbcType=INTEGER},      </if>
      <if test="type != null">        #{type,jdbcType=INTEGER},      </if>
      <if test="password != null">        #{password,jdbcType=VARCHAR},      </if>
      <if test="expert != null">        #{expert,jdbcType=VARCHAR},      </if>
      <if test="titleId != null">        #{titleId,jdbcType=INTEGER},      </if>
      <if test="phone != null">        #{phone,jdbcType=VARCHAR},      </if>
      <if test="majorId != null">        #{majorId,jdbcType=INTEGER},      </if>
      <if test="doctorId != null">        #{doctorId,jdbcType=INTEGER},      </if>
      <if test="qrCodeUrl != null">        #{qrCodeUrl,jdbcType=VARCHAR},      </if>
      <if test="certificationUrl != null">        #{certificationUrl,jdbcType=VARCHAR},      </if>
      <if test="physicianPraticeLicenseUrl != null">        #{physicianPraticeLicenseUrl,jdbcType=VARCHAR},      </if>
      <if test="status != null">        #{status,jdbcType=INTEGER},      </if>
      <if test="title != null">        #{title,jdbcType=VARCHAR},      </if>
      <if test="majorPhone != null">        #{majorPhone,jdbcType=VARCHAR},      </if>
      <if test="achievement != null">        #{achievement,jdbcType=VARCHAR},      </if>
      <if test="education != null">        #{education,jdbcType=VARCHAR},      </if>
      <if test="applyDate != null">        #{applyDate,jdbcType=TIMESTAMP},      </if>
      <if test="applyTimes != null">        #{applyTimes,jdbcType=INTEGER},      </if>
      <if test="passTime != null">        #{passTime,jdbcType=TIMESTAMP},      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jumper.angel.hospital.doctor.entity.HospitalDoctorInfo">
    update hospital_doctor_info
    <set>
      <if test="hospitalId != null">        hospital_id = #{hospitalId,jdbcType=INTEGER},      </if>
      <if test="name != null">        name = #{name,jdbcType=VARCHAR},      </if>
      <if test="introduction != null">        introduction = #{introduction,jdbcType=VARCHAR},      </if>
      <if test="imgUrl != null">        img_url = #{imgUrl,jdbcType=VARCHAR},      </if>
      <if test="addTime != null">        add_time = #{addTime,jdbcType=TIMESTAMP},      </if>
      <if test="fansNumber != null">        fans_number = #{fansNumber,jdbcType=INTEGER},      </if>
      <if test="type != null">        type = #{type,jdbcType=INTEGER},      </if>
      <if test="password != null">        password = #{password,jdbcType=VARCHAR},      </if>
      <if test="expert != null">        expert = #{expert,jdbcType=VARCHAR},      </if>
      <if test="titleId != null">        title_id = #{titleId,jdbcType=INTEGER},      </if>
      <if test="phone != null">        phone = #{phone,jdbcType=VARCHAR},      </if>
      <if test="majorId != null">        major_id = #{majorId,jdbcType=INTEGER},      </if>
      <if test="doctorId != null">        doctor_id = #{doctorId,jdbcType=INTEGER},      </if>
      <if test="qrCodeUrl != null">        qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},      </if>
      <if test="certificationUrl != null">        certification_url = #{certificationUrl,jdbcType=VARCHAR},      </if>
      <if test="physicianPraticeLicenseUrl != null">        physician_pratice_license_url = #{physicianPraticeLicenseUrl,jdbcType=VARCHAR},      </if>
      <if test="status != null">        status = #{status,jdbcType=INTEGER},      </if>
      <if test="title != null">        title = #{title,jdbcType=VARCHAR},      </if>
      <if test="majorPhone != null">        major_phone = #{majorPhone,jdbcType=VARCHAR},      </if>
      <if test="achievement != null">        achievement = #{achievement,jdbcType=VARCHAR},      </if>
      <if test="education != null">        education = #{education,jdbcType=VARCHAR},      </if>
      <if test="applyDate != null">        apply_date = #{applyDate,jdbcType=TIMESTAMP},      </if>
      <if test="applyTimes != null">        apply_times = #{applyTimes,jdbcType=INTEGER},      </if>
      <if test="passTime != null">        pass_time = #{passTime,jdbcType=TIMESTAMP},      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jumper.angel.hospital.doctor.entity.HospitalDoctorInfo">
    update hospital_doctor_info
    set hospital_id = #{hospitalId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      fans_number = #{fansNumber,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      expert = #{expert,jdbcType=VARCHAR},
      title_id = #{titleId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      certification_url = #{certificationUrl,jdbcType=VARCHAR},
      physician_pratice_license_url = #{physicianPraticeLicenseUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      major_phone = #{majorPhone,jdbcType=VARCHAR},
      achievement = #{achievement,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      apply_times = #{applyTimes,jdbcType=INTEGER},
      pass_time = #{passTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectNameByPrimaryKey" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select name from hospital_doctor_info where id = #{doctor_id}
  </select>
  
   <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_doctor_info
  </select>
  
  
  
</mapper>